<h2>By Continent</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <ng-container *ngFor="let region of Region | keyvalue">
      <button class="btn mx-2" [ngClass]="{'btn-outline-primary': selectedRegion === region.value}" (click)="searchByContinent(region.value)">{{ region.key }}</button>
    </ng-container>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-spinner *ngIf="isLoading"></shared-spinner>
    <countries-country-table [countries$]="continent$"></countries-country-table>
  </div>
</div>
